# Jupyter Notebook
.ipynb_checkpoints/

# Data files
*.csv
!submission_super_ensemble.csv
*.zip

# Model checkpoints
*.pt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
